main{
	margin-right: 6.5rem;
}
.sidemenu{
	position: fixed;
	top:0;
	right: 0;
}

.overlay{
	z-index: -100;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	background-color: black;
	
	transition: opacity 0.6s;
	opacity: 0;

	display: none;
}

.moreinfo{
	z-index: 20;
	height: 100%;
	position: fixed;
	right:0;
	background-color: white;

	box-shadow: 1rem 0 1rem 1rem #999999;
}

.itembar{
	float: left;
	height: 100%;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.itembarmodul{
	margin: 0.5rem 0.5rem 0 0.5rem;
	height: 3rem;
	overflow: hidden;
	text-align: center;
	transition: background-color 0.6s;

	cursor: pointer;
}

.itembarmodul div{
	display: inline-block;
}

.itembarmodul:hover{
	background-color: #f2f2f2;
}

.itembartext{
	float: left;
	padding: 1rem 0;
	font-size: 1rem;

	width:0;

	transition: width 0.6s ease, padding 0.6s ease
}

.itembar:hover .itembartext{
	width: 6rem;
	padding: 1rem;
}

.itembaricon{
	float: left;
	width: 3rem;
	height: 3rem;
}

i.si{
	margin-top: 0.5rem; 
	font-size: 2rem;
}

i.cl{
	font-size: 3rem;
}


.sidecontainer{
	z-index: inherit;
	float:left;
	
	height: 100%;
	width: 0;
	
	transition: width 0.6s ease-out;

	top: 0;
	
}

.sidecontainer>div{
	height: 100%;
	width: 26rem;
	overflow: scroll;
	overflow-x: hidden;
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.sidecontainer>div::-webkit-scrollbar { 
	display: none;
}

.sidecontainer iframe{
	width: 100%;
	height: 100%;
}

.closeside{
	float: right;
	width: 3rem;
	height: 3rem;
	right: 0.5rem;
	top: 0.5rem;
	transition: opacity 0.6s;
	opacity: 0;
	display: none;
	position: fixed;
	text-align: center;
}
